[submodule "popup/trezor-crypto"]
	path = popup/trezor-crypto
	url = https://github.com/trezor/trezor-crypto.git
	branch = master
[submodule "popup/safe-t-common"]
	path = popup/safe-t-common
	url = https://github.com/archos-safe-t/safe-t-common.git
